<template>
  <div class="c-app flex-row align-item-center">
    <div class="container">
      <div class="row justify-content-center">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style></style>
